.card {
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 30px;
  background-color: #fff;

  .card-header {
    background-color: transparent;
    border-bottom: none;
    color: theme-color('primary');
    padding: 20px 20px 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;

    &.pb-20 {
      padding-bottom: 20px;
    }

    a.edit {
      float: right;
      margin-top: 4px;
    }

    h3 {
      margin-bottom: 0;
      color: theme-color('primary');
      font-size: 18px;

      &.red {
        color: #ff7f89;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.56;
      color: theme-color();
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 20px;

    .card-title {
      margin-bottom: 20px;
    }

    .subhead {
      font-size: 12px;

      @extend .secondary-color;
    }

    h3 {
      font-size: 18px;
      line-height: 1;

      @extend .card-title-2;

      margin-bottom: 0;

      .dicon {
        vertical-align: middle;
        font-size: 24px;

        @extend .text-color;

        margin-left: 5px;
      }
    }

    .badge {
      margin-top: 20px;
    }
  }

  .card-footer {
    background-color: #f7f9ff;
    border-top: 1px solid #eaf2ff;
    padding: 20px;
  }
}

.row .d-flex .card {
  width: 100%;
}
